@first-color: #4FC1E9;

body {
	background: #eeeeee;
}

/* ----- HEADER ----- */
	/* Navbar */
	.rm-top-navbar {
		border-radius: 0;
		background: white;
		border: 0;
		margin-bottom: 0;

		.rm-nav-link {
			color: #c5c5c5 !important;
		}
	}

	.rm-activated-nav-link {
		background: @first-color;
		color: white !important;
	}

	/* Banner */
	#logo {
		padding-top: 20px;
		text-align: center;
		background: @first-color;
	}

	.header_title {
		font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #34495e;

		small {
			/*color: white;*/
			font-size: 0.3em;
		}
	}

.rm-thumbnail {
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	padding: 0;

	h3 {
		color: #34495e;
	}
}

/* ----- LAYOUT FIXES ----- */
.rm-row {
	margin: 0!important;
}